apiVersion: apps/v1
kind: Deployment
metadata:
  name: PaymentSystem
  labels:
    app: PaymentSystem
spec:
  replicas: 1
  selector:
    matchLabels:
      app: PaymentSystem
  template:
    metadata:
      labels:
        app: PaymentSystem
    spec:
      containers:
        - name: PaymentSystem
          image: username/PaymentSystem:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5